/* html { font-size: calc(1em + 1vw) } */

body {
  background-image: url("images/produce.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 2560px;
  font-family: 'Questrial', 'Arial', 'Helvetica', sans-serif;
}

.fas {
  font-size: 25px;
}
.navbar {
  background-color: #774517;
  padding: 0px;
  text-align: center;
  align-content: center;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar-brand {
  color: white;
  font-family: 'Righteous', cursive;
  font-size: 200%;
  /* text-align: center;
  align-content: center; */
  /* margin-left: 12.5%; */
}

.navbar-text { /* would like to center the main page title */
  /* width: 75%; */
  margin: auto;
  text-align: left;
  /* margin-left: 75%; */
}

.main {
  width: 85%;
  margin: auto;
  border-radius: 8px;
  margin-top: 90px;
  margin-bottom: 90px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.85);
}
.pointer{
  cursor: pointer;
}
.form-group {
  padding-bottom: 20px;
}

.form-label {
  text-align: left;
}

#other {
  float: left;
}

button {
  float: left;
}

.footer {
  background-color: #774517;
  padding: 10px;
  margin-top: 10px;
  color: white;
  font-size: 115%;
  width: 100%;
  bottom: 0;
  position: fixed;
}

.footer-text {
  /* margin-left: 12.5px; */
  width: 85%;
  margin: auto;
}

.scanner{
  margin: auto;
  padding: 10px;
  background: white;
  /* float: left; */
  height: 100%;
  width: 100%;
}

.confirm-info{
  padding: 20px;
  background-color: #ffffffe8;
  width: 100%;
}
.instructions{
  padding: 40px;
  background-color: white;
  font-size: 1em;
  height: 100%;
}
.button-group{
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: auto;
  width: auto;
  font-size: 90%;
}
.new-product-nav{
  float: right;
}
.btn {
  /* margin: 1%; */
  width: 100%;
  /* padding: 15px; */
}
#map {
  height: 100%;
}
.qr-holder{
  padding: 5px;
}
.as-guest{
  font-size: 1em
}
/* Media Queries - I started with the file at the end of this github link: https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488#file-media-query-css */


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  /* //CSS */
  body, p, .form-control, .btn {
    /* color: orange;  */
    font-size: 1.45em;
  }

  .navbar-brand {
    font-size: 1.5em;
  }

  .footer-text {
    font-size: 0.85em;
  }

  #chart_div, #line_chart_div {
    width: 1266px;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  /* //CSS */
  body, p, .form-control, .btn {
    /* color: green;  */
    font-size: 1.35em;
  }

  .navbar-brand {
    font-size: 1.25em;
  }

  .footer-text {
    font-size: 0.75em;
  }

  #chart_div, #line_chart_div {
    width: 1010px;
  }
  .scanner {
    width: 40%
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  /* //CSS */
  .scanner {
    width: 40%
  }
}

.navbar-brand {
  font-size: 1.25em;
}

.footer-text {
  font-size: 0.75em;
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* //CSS */
  body, p, .form-control, .btn {
    /* color: purple; /* comment out later */
    font-size: 1.25em;
  }

  .navbar-brand {
    font-size: 1.45em;
  }

  .footer-text {
    font-size: 0.95em;
  }

  #chart_div, #line_chart_div {
    width: 753px;
  }
  .scanner {
    width: 40%
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  /* //CSS */
  body, p, .form-control, .btn {
    /* color: blue; /* comment out later */
    font-size: 1.20em;
  }

  .navbar-brand {
    font-size: 1.65em;
  }

  .footer-text {
    font-size: 0.75em;
  }

  #chart_div, #line_chart_div {
    width: 767px;
  }
  .scanner, .btn {
    width: 100%;
  }

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 30px) and (max-width: 480px) {
  /* //CSS */
  body, p, .form-control, .btn {
    /* color: red; /* comment out later */
    font-size: 1.15em;
  }

  .navbar-brand {
    font-size: 1.75em;
  }

  .footer-text {
    font-size: 0.8em;
  }

  .scanner, .btn{
    width: 100%
  }
}
