body {
  background-image: url("images/produce.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 2560px;
  font-family: 'Questrial', 'Arial', 'Helvetica', sans-serif;
}

.navbar {
  background-color: #774517e8;
  padding: 0px;
  text-align: center;
  align-content: center;
}

.navbar-brand {
  color: white;
  font-family: 'Righteous', cursive;
  font-size: 250%;
  /* text-align: center;
  align-content: center; */
  /* margin-left: 12.5%; */
}

.navbar-text { /* would like to center the main page title */
  /* width: 75%; */
  margin: auto;
  text-align: left;
  /* margin-left: 75%; */
}

.main {
  width: 85%;
  margin: auto;
  border-radius: 8px;
  margin-top: 90px;
  margin-bottom: 90px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.85);
}

.form-group {
  padding-bottom: 20px;
}

.form-label {
  text-align: left;
}

#other {
  float: left;
}

button {
  float: left;
}

.footer {
  background-color: #774517e8;
  padding: 10px;
  margin-top: 10px;
  color: white;
  font-size: 115%;
  width: 100%;
  bottom: 0;
  position: fixed;
}

.footer-text {
  /* margin-left: 12.5px; */
  width: 85%;
  margin: auto;
}

.scanner{
  width: 60%;
  margin: auto;
  /* border-radius: 8px; */
  padding: 10px;
  /* background: rgba(255, 255, 255, 0.85); */
  color: white;
}

.confirm-info{
  padding: 20px;
  background-color: #774517e8;
  width: 100%;
}
#map {
  height: 100%;
}


/* Media Queries - I started with the file at the end of this github link: https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488#file-media-query-css */

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  /* //CSS */
  body, p, .form-control, .btn {
    /* color: orange;  */
    font-size: 155%;
  }
  #chart_div, #line_chart_div {
    width: 1266px;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  /* //CSS */
  body, p, .form-control, .btn {
    /* color: green;  */
    font-size: 135%;
  }
  #chart_div, #line_chart_div {
    width: 1010px;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  /* //CSS */
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* //CSS */
  body, p, .form-control, .btn {
    /* color: purple; /* comment out later */
    font-size: 145%;
  }
  #chart_div, #line_chart_div {
    width: 753px;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  /* //CSS */
  body, p, .form-control, .btn {
    /* color: blue; /* comment out later */
    font-size: 145%;
  }
  #chart_div, #line_chart_div {
    width: 767px;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  /* //CSS */
  body, p, .form-control, .btn {
    /* color: red; /* comment out later */
    font-size: 138%;
  }

  #chart_div, #line_chart_div {
    width: 300px;
  }
}
