body {
  background-image: url("images/produce.jpg");
  background-size: 2160px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Questrial', 'Arial', 'Helvetica', sans-serif;
}

.main {
  width: 75%;
  margin: auto;
  border-radius: 8px;
  padding: 20px 20px 20px 20px;
  background: rgba(255, 255, 255, 0.75);
}

.form-label {
  text-align: left;
}

button {
  float: left;
}

/* Media Queries - I started with the file at the end of this github link: https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488#file-media-query-css */

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  /* //CSS */
  body, p {
    /* color: orange;  */
    font-size: 155%;
  }
  #chart_div, #line_chart_div {
    width: 1266px;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  /* //CSS */
  body, p {
    /* color: green;  */
    font-size: 135%;
  }
  #chart_div, #line_chart_div {
    width: 1010px;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  /* //CSS */
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* //CSS */
  body, p {
    /* color: purple; /* comment out later */
    font-size: 145%;
  }
  #chart_div, #line_chart_div {
    width: 753px;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  /* //CSS */
  body, p {
    /* color: blue; /* comment out later */
    font-size: 145%;
  }
  #chart_div, #line_chart_div {
    width: 466px;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  /* //CSS */
  body, p {
    /* color: red; /* comment out later */
    font-size: 138%;
  }

  #chart_div, #line_chart_div {
    width: 300px;
  }
}
